In [1]:
import os
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker
import pandas as pd

In [11]:
engine = create_engine(os.getenv("DATABASE_URL"))
db = scoped_session(sessionmaker(bind=engine))

In [3]:
# db.execute("drop table books CASCADE;")
# db.commit()

In [4]:
# db.execute("create table books (id serial not null, isbn varchar not null, title varchar not null, author varchar not null, year integer, PRIMARY KEY (id));")
# db.commit()

In [5]:
# db.execute("create table users (id SERIAL not null, user_name varchar not null, password varchar not null, PRIMARY KEY (id));")
# db.commit()

In [6]:
# db.execute("create table reviews (id SERIAL not null, user_id INTEGER REFERENCES users, book_id INTEGER REFERENCES books, review varchar not null, PRIMARY KEY (id));")
# db.commit()

In [7]:
books = pd.read_csv('books.csv')

In [8]:
books.sample(3)

            isbn                title           author  year
4218  0805080511       Taran Wanderer  Lloyd Alexander  1967
551   0316012823        One Good Turn    Kate Atkinson  2006
4721  1565125606  Water for Elephants       Sara Gruen  2006

In [ ]:
for book in books.itertuples():
    db.execute("INSERT INTO books (isbn, title, author, year) VALUES (:isbn, :title, :author, :year)",
                    {"isbn": book.isbn, "title": book.title, "author": book.author, "year": book.year})
    db.commit()