In [1]:
import os
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker

In [2]:
engine = create_engine('postgresql://postgres:123456@localhost:5432/cs50')
db = scoped_session(sessionmaker(bind=engine))

In [ ]:
("SELECT * FROM flights WHERE id = :id", {"id": flight_id})

In [12]:
flights = db.execute("select id, origin, destination, duration from flights where origin = :param order by id", {"param": 'New York'}).fetchall()

In [13]:
flights

[(1, 'New York', 'London', 300), (4, 'New York', 'Paris', 435)]

In [11]:
for flight in flights:
    print(f"Flight {flight.id} {flight.origin} from {flight.origin} to {flight.destination} in {flight.duration} minutes.")

Flight 4 New York from New York to Paris in 435 minutes.
Flight 1 New York from New York to London in 300 minutes.

In [ ]:
flight_id = int(input("Flight id: "))

In [ ]:
passengers = db.execute("select name from passengers where flight_id = :flight_id",
                       {"flight_id" : flight_id}).fetchall()

In [ ]:
for passenger in passengers:
    print(f"{passenger.name}")